/* Style Comments for CSS File */

/* General Reset Styles */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
@import 'https://fonts.googleapis.com/css?family=Raleway';

/* Global Styles for the Entire Document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif; /* Setting the default font family for the entire document */
}

html, body {
    margin: 0px;
    scroll-behavior: smooth;
}

/* Header Section Styles */
header {
    font-family: Raleway; /* Setting the font family for the header section */
    margin:  auto;
    padding: 5em 3em;
    text-align: center;
    background: #555;
}

div.containerheader {
    font-family: Raleway; /* Font family for the header container */
    margin: 0 auto;
    padding: 3em 3em;
    text-align: right;
}

div.containerheader a {
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div .logo img {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 120px;
    width: 250px;
}

/* Teal Background Section */
.teal {
    background: #252b60;
}

/* Border Animation from Y to X */
div.borderYtoX a:before, div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Footer Section Styles */
footer {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --theme-col: #798aeb;
}

/* Styling for the Footer Container */
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

/* Styling for the Footer Background Color */
footer {
    background-color: #252b60;
}

/* Styling for Footer Item Container */
.f-item-con {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}

/* Styling for App Name in Footer */
footer .app-name {
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

/* Styling for App Initial in Footer Name */
.app-name .app-initial {
    color: var(--theme-col);
}

/* Styling for App Information in Footer */
footer .app-info p {
    color: white;
    padding-left: 1.65rem;
}

/* Styling for Footer Title */
footer .footer-title { 
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}

/* Styling for Footer Unordered List */
footer ul { 
    padding-left: 1.75rem;
    color: white;
    font-size: 1.1rem; /* 14px */
    line-height: 1.25rem;
    margin-top: .5rem;
}

/* Styling for Footer List Items */
footer ul li { 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}

/* Styling for Hover Effect on Footer List Items */
footer ul li:hover {
    color: white;
}

/* Styling for Help Section in Footer */
footer .help-sec {
    grid-column-start: 2;
}

/* Styling for Footer Container with Copyright Information */
footer .cr-con {
    background-color: #252b60;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

/* Styling for GitHub Icon Section in Footer */
.g-i-t {
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Styling for GitHub Icon Form */
.g-i-t form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)); 
}

/* Styling for GitHub Icon Text Input */
form .g-inp {
    padding: .25rem .5rem;
    font-size: 1.1rem;
}

/* Styling for GitHub Icon Textarea */
.g-inp textarea {
    height: 150px;
}

/* Styling for Footer Button */
.f-btn {
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

/* Styling for Team Name Section */
.team-name {
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
}

/* Styling for Paragraph Text */
p {
    font-size: 0.9rem;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Styling for Social Links Section */
.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-left: 30px;
    margin-top: 20px;
}

/* Styling for Hover Effect on Social Links */
.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* Gradient Angle Property Definition */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Image Styles */
img {
  width: 100%;
}

/* FAQ Section Styles */
.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 10vh 0 0;
    margin-bottom: 70px;
}

/* FAQ Title Styles */
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  margin-left: 200px;
}

/* FAQ Title Underline Styles */
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #2317c6;
    bottom: -25px;
    margin-left: -30px;
}

/* FAQ Title Paragraph Styles */
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

/* FAQ Container Styles */
.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 80%;
  margin-left: 200px;
}

/* FAQ Card Styles */
.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

/* FAQ Card Header Styles */
.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Hover Effect on FAQ Card Header */
.faq .card .card-header:hover {
    background: rgba(39, 137, 193, 0.1);
    padding-left: 10px;
}

/* FAQ Card Title Styles */
.faq .card .card-header .faq-title {
  width: 80%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* FAQ Card Badge Styles */
.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #1a0aac;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

/* FAQ Card Body Styles */
.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

/* FAQ Card Body Paragraph Styles */
.faq .card .card-body p {
  margin-bottom: 14px;
}

/* Responsive Styles for FAQ Section on Smaller Screens */
@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

